# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 忽略 my-blog 子目录下的依赖和构建输出
my-blog/node_modules
my-blog/dist
my-blog/dist-ssr
my-blog/coverage
my-blog/*.local
my-blog/.eslintcache
my-blog/__screenshots__/
my-blog/.vitepress/cache
my-blog/.vitepress/dist

# 通用忽略（对整个仓库有效）
.DS_Store
*.tsbuildinfo

# 编辑器目录
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cypress
my-blog/cypress/videos/
my-blog/cypress/screenshots/

package.json