/* 基础样式重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 这意味着之后更改width和height的值的时候包括了content,padding,border，可以更加直观的布局 */
}

:root {
  /* 主色 */
  --primary-color: #3498db;
  /* 复选框、单选框、范围选择框、进度条默认强调色 */
  --accent-color: #1abc9c;
  --text-color: #333;
  --link-color: #16a085;
  --link-hover: #138d75;
  /* 背景颜色 */
  --bg-color: #f8f9fa;
  --border-color: #e9ecef;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* 设置行高和字体大小的比例为1.6:1 */
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}